header {
    display: flex;
    justify-content: center;
}

.title {
    color: blue;
    font-size: 50px;
}

main {
    width: 80vw;
    background-color: darkgray;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 50px 50px;
    margin: 0 auto;
    border-radius: 15px;
    border: 2px solid blue;
}

.regole {
    font-size: 25px;
    text-align: center;
}

#start {
    margin-top: 25px;
}

#numbers {
    font-size: 35px;
    margin: 30px 0;
    letter-spacing: 3px;
}

.input {
    width: 60vw;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.input-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
    margin-top: 80px;
    margin-bottom: 20px;
}

.btn-invia {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#risultato {
    font-size: 20px;
    margin: 0 auto;
}
